@font-face {
    font-family: "Lato";
    src: url("./lato-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Lato";
    src: url("./lato-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


/**
 Currently unused weights below
 Also currently unsued lato-hairline lato-black
**/

/*@font-face {*/
    /*font-family: "Lato";*/
    /*src: url("./lato-bold-italic.ttf") format("truetype");*/
    /*font-weight: 700;*/
    /*font-style: italic;*/
/*}*/

/*@font-face {*/
    /*font-family: "Lato";*/
    /*src: url("./lato-italic.ttf") format("truetype");*/
    /*font-weight: 400;*/
    /*font-style: italic;*/
/*}*/

/*@font-face {*/
    /*font-family: "Lato";*/
    /*src: url("./lato-light.ttf") format("truetype");*/
    /*font-weight: 300;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: "Lato";*/
    /*src: url("./lato-light-italic.ttf") format("truetype");*/
    /*font-weight: 300;*/
    /*font-style: italic;*/
/*}*/