.home
  min-height: 100vh
  .ant-layout-footer
    padding: 5px
  .ant-layout-header
    height: 40px
    line-height: 40px
    padding: 0 30px
  .fs-bar
    flex: 0 0 auto
    margin-bottom: 10px
  .ant-layout-content
    display: flex
    flex-direction: column
    .main-content
      flex: auto
      display: flex
      flex-direction: column
      height: 400px
      .file-view
        flex: auto
  .ant-breadcrumb
    height: 31px
    line-height: 31px
    .ant-breadcrumb-link
      line-height: normal
    .ant-spin
      margin-left: 10px
  .logo
    color: white
    font-size: 20px
    display: inline-block
    margin-right: 10px
  .search
    float: right
    width: 200px
    margin-top: 50px
  .file
    a
      margin: 0 5px
  .size
    font-size: 10px
  .levels
    display: inline-block
    .ant-tag
      text-transform: capitalize
  .line
    white-space: pre
    font-family: monospace
    font-size: 12px
    .time
      color: #5b6360
      padding-right: 5px
    .linenumber
      color: darkgrey
      padding-right: 5px
      text-align: right
      display: inline-block
      width: 100%
      cursor: pointer
    .ant-tag
      font-size: 10px
      line-height: 13px
      height: 13px
      padding: 0 4px
    &.error
      color: darkred
  .tree-search
    border: none
    padding: 5px
    background: rgba(0, 0, 0, 0.05)
  .ant-list
    overflow-y: auto
  .search-view
    display: flex
    flex: auto
    flex-direction: column
  .file-view
    display: flex
    flex-direction: column
  .lines-view-container
    flex: auto
    display: flex
    flex-direction: column
    outline: none
    .controls
      margin-bottom: 10px
    .lines-view
      flex: auto
      overflow-y: auto
      .file-name
        font-family: sans-serif
        font-weight: bold
        font-size: 15px
        margin: 10px 0