.home
  .logo
    color: white
    font-size: 24px
    display: inline-block
    margin-right: 10px
  .search
    float: right
    width: 200px
    margin-top: 15px
  .file
    a
      margin: 0 5px

  .tree-search
    border: none
    padding: 5px
    background: rgba(0,0,0,0.05)